*.log
Library/assetDatabase3
Library/BuildPlayer.prefs
Library/EditorInstance.json
Library/FacebookSDK/*
Library/metadata/*
Library/ShaderCache/*
Library/ScriptAssemblies/*
Temp/*
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/assetDatabase3
